article {
  margin: 0 24px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 15px;
  padding: 24px 22px 32px;
  max-width: 337px;
  min-height: 360px;
}

@media only screen and (min-width: 768px) {
  article {
    padding: 32px 39px 32px 32px;
    margin: 4px 0 0;
    border-radius: 30px;
    max-width: 412px;
    min-height: 416px;
  }
}