.thanks {
  text-align: center;
}

.phone {
  margin: 10px auto 24px;
  display: block;
}

.selected {
  color: #FC7614;
  border-radius: 22.5px;
  background: #262E38;
  padding: 5px 12px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 24px 0 17px;
}

.support {
  margin-bottom: 5px;
}